@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?i5a3ti');
  src:  url('../fonts/icomoon.eot?i5a3ti#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?i5a3ti') format('truetype'),
    url('../fonts/icomoon.woff?i5a3ti') format('woff'),
    url('../fonts/icomoon.svg?i5a3ti#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
  content: "\e903";
}
.icon-chevron-left:before {
  content: "\e904";
}
.icon-linkedin:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location2:before {
  content: "\e948";
}
.icon-search:before {
  content: "\e986";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-pinterest:before {
  content: "\ead1";
}
