body{
    min-height: 100vh;
    min-width: 320px;
    font-family: 'Open Sans', sans-serif;;
}
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h2{
    color:#5b6ceb;
}
/*Header*/

.container_header{
    display: flex;
    width: 80%; 
    max-width: 1250px;
    margin: 15px auto;
    justify-content: space-between;
    align-items: center;
}

.menu_items {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    text-decoration: none;
    font-size: 14px;
    color: #555555;
    font-weight: 600;

    transition: all .2s linear;
}

.menu_items:after{
    content: '';
    display: block;
    width: 70%;
    height: 1px;
    background-color: #5363db;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .2s linear;
}

.menu_items:hover{
    color: #5363db;
}

.menu_items:hover:after{
    opacity: 1;
}
/*Burger*/
#menu__toggle {
    display: none;    
}
/*Main*/
main{
    display: flex;
    flex-grow: 1;
}

.container_main{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
/*Form*/
.section_form{
    background-image: url(../images/bg-01.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}

.section_form::after{
    content: "";
    background-color: #5b6ceb;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.container_form{
    width: 80%; /*чтобы контейнер был одной ширины */
    max-width: 1250px;
    margin: 100px auto; /*центрирование*/
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
}

.form{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    max-width: 50%;
    z-index: 1;
    padding: 5px 30px 30px 30px;
    margin-right: 45px;
}

.form > button{
    align-self: flex-end;
    min-width: 25%;
    padding: 15px 65px 15px 65px;
    background-color: #5b6ceb;
    color: white;
    border-color: transparent;
    outline: none;
    border-radius: 10px;
    margin:12px 0 0 0;
}

.form > button:hover{
    box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

.input_form{
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0 ;
    background-color: #f2f2f2;
    border-color: transparent;
    outline: none;
    box-shadow: none;
}

.text_form{
    color: white;
    max-width: 50%;
    z-index: 1;
    margin-left: 45px;
}

.text_form > h1{
    font-size: 48px;
}

.text_form > p{
    font-size: 40px;
    font-family: 'FREESCPT' ;
}

/*Feature prog*/
.container_feature{
    width: 80%; /*чтобы контейнер был одной ширины */
    max-width: 1250px;
    margin: 125px auto 214px;
    display: flex;
    flex-direction: column;
}

.text_feature{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text_feature>p{
    font-size: 40px;
    font-family: 'FREESCPT' ;
    margin-top: 0;
    color: #777777;
}

.list_feature {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;  
}

.list_feature > li {
    width: 50%;
    padding: 15px;
    display: flex;
}

.box{
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.visual_feature{
    max-width:100%;
    width: 100%;
    height: auto;
    min-width: 47%;
    object-fit: cover;
}

.list_text{
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #777777;
}

.list_text > p{
    font-size: 14px;
}

.h4{
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
    color: #777777;
    text-decoration: none;
}

.small_text{
    color: #999999;
    margin-bottom: 0;
    font-size: 14px;
    text-decoration: none;
}


/*Gallery*/

.section_gallery{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.section_gallery > li{
    width: 25%;
}

.section_gallery a{
    display: block;
    padding-top: 72%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.section_gallery a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: blue;
    opacity: 0;
    transition: all .5s;
}

.section_gallery a::after{
    content: '\e986';
    color: #5363d8;
    position: absolute;
    font-family: 'icomoon';
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: all .5s .3s;
}

.section_gallery a:hover:after{
    transform: translate(-50%, -50%) scale(1);
}

.section_gallery a:hover:before {
    opacity: .5;
}
/*About us*/
.container_about{
    width: 80%; /*Контейнер*/
    max-width: 1250px;
    margin: 175px auto; 
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.text_about{
    max-width: 40%;
}

.text_about > p{
    font-size: 14px;
}

.carousel_container {
    outline: none;
    width: 45%;
    height: 0;
    padding-bottom: 25%;
    position: relative;
    margin: auto;
}

.slick-slide {
    outline: none;
}

.slick-list {
    height: 100%;
    border-radius: 10px;
}

.slick-track {
    height: 100%;
}

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;
    z-index: 1;

    display: block;

    width: 50px;
    height: 50px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    border-radius: 100%;
    color: transparent;
    border: none;
    outline: none;
    background: #fff !important;

    transition: box-shadow 0.2s ease-in-out;
}

.slick-prev:hover,
.slick-next:hover {
    background: #fff;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
}

.slick-next::before,
.slick-prev::before {
    content: '\e904';
    font-family: 'icomoon';
    font-size: 30px;
    margin-top: 10px;
    color: #5363d8;
}

.slick-next::before {
    content: '\e903';
}

.image_carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.2);
}

.carousel_item {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel_item > img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Info*/
.section_info{
    background-image: url(../images/bg-02.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.section_info::after{
    content: "";
    background-color: #5b6ceb;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.container_info{
    width: 80%; 
    max-width: 1250px;
    margin: 125px auto;
    display: flex;
}

.list_info{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none; 
    justify-content: center;
    z-index: 1;
}

.list_info > li{
    width: 25%;
    padding: 15px;
    display: flex;
}

.box_info{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    justify-content: space-around;
}

.box_info > h4{
    font-size: 18px;
    color: white;
    margin-bottom: 0;
}

.box_info > p{
    font-size: 16px;
    color: white;
}

.visual_info{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 50px;
    position: relative;
}

.visual_info > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Cards*/
.section_cards{
    background-image: url(../images/bg-03.jpg)  ;
    background-position:right bottom;
    background-repeat:no-repeat;
    background-size: 60%;
}

.container_cards{ 
    width: 80%; /*Container*/ 
    max-width: 1250px;
    margin: 100px auto;
}

.list_cards{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    justify-content: center;
}

.list_cards > li{
    width: calc(100%/3);
    padding: 15px;
}

.box_cards{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px 2px #efefef;
    border-radius: 10px;
    background-color: white;
}

.header_info{
    display: flex;
    padding: 36px 0;
    align-items: center;
    background-color: #5b6ceb;
    font-weight: bold;
    color: white;
    justify-content: center;
    border-radius: 10px 10px 0 0;
}

 .usd{
    font-size: 32px;
    margin: 0;
    margin-right: 15px;
}

.num{
    font-size: 67px;
    margin: 0;
    padding-bottom: 0;
}

.month{
    font-size: 18px;
    align-self: center;
    margin: 0;
    margin-top: 35px;
} 

.main_info{
    margin: 50px auto;
    align-items: center;
}

.main_info > p{
    font-size: 18px;
}

.btn_info{
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.main_info > p:nth-child(1){
    margin-top: 0;
}

.btn_info > a{
    background-color: #5b6ceb;
    color: white;
    text-decoration: none;
    padding: 15px 50px 15px 50px;
    border-radius: 19px;
}

.btn_info > a:hover{
    box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

hr{
    width: 100px;
    color: #d7d7d7;
}

/*Footer*/
footer{
    display: flex;
    flex-direction: column;
}

/*Contacts*/
.contacts{
    background-color: #5b6ceb;
}

.container_contacts{
    width: 80%; /*Container*/ 
    max-width: 1250px;
    margin: 75px auto 100px;
    display: flex;
}

.container_contacts h4{
    color: white;
    font-size: 18px;
}

.about{
    width: 50%;
    padding-right: 65px;
}

.about > p{
    font-size: 14px;
    color: white;
    padding-top: 13px;
    margin-top: 0;
}

.contact_us{
    width: 50%;
    padding-left: 65px;
}

.list_footer{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.list_footer > li{
    width: 50%;
    padding: 13px 10px;
}

.list_footer > li > div > a{
    text-decoration: none;
    font-size: 14px;
    color: white;
}
.list_footer span {
    font-size: 16px;
    color: white;
}
.icon-location2:before,
.icon-phone:before,
.icon-dribbble:before,
.icon-envelop:before{
    padding-right: 10px;
}
.tel2{
    padding-left: 26px;
}

.icomoon_list{
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 50px;
}
.icomoon_list > li{
    margin-right: 18px;
}
.icomoon_list > li > a{
    text-decoration: none;
}
.icomoon_list span{
    color: white;
    font-size: 22px;
    transition: all .2s ease-in-out;
}
.icomoon_list span:hover{
    color:#8db7e7 ;
}
/*Copyright*/
.copyright{
    background-color: #5363d8;
}

.container_copyright{
    width: 80%; /*Container*/ 
    max-width: 1250px;
    margin: 41px auto;
    text-align: center;
}

.container_copyright > p{
    margin: 0;
    font-size: 16px;
    color: #b7bffc;
}

/*Media*/
@media (max-width: 992px){
    /*Header*/
    .container_header{
        width: 90%;
    }
    /*Form*/
    .container_form{
        width: 90%; /*чтобы контейнер был одной ширины */
        padding-left: 0;
    }

    /*Feature*/
    .container_feature{
        width: 90%;
    }
    .list_text {
        padding: 25px 15px;
    }
    /*About*/
    .container_about{
        width: 90%;
    }
    /*Info*/
    .container_info{
        width: 90%;
    }
    /*Cards*/
    .container_cards{ 
        width: 90%; /*Container*/ 
    }
    .list_cards > li{
        width: 50%;
    }
    .section_cards{
        background-size: cover;
    }
    /*Footer*/
    .container_contacts{
        width: 90%; /*Container*/ 
        flex-direction: column;
    }
    .about{
        width:100%;
        padding-right: 0;
    }
    .contact_us{
        width:100%;
        padding-left: 0;
    }
    .container_copyright{
        width: 90%; /*Container*/ 
    }
}

@media (max-width: 767px){
    /*Burger*/
    .container_header{
        width: 90%;
        display: block;
    }
    .menu__box{
        display: flex;
        flex-direction: column;
        text-align: center;
        display: none;
    }
    .menu_items{
        padding: 8px 0;
        margin-top: 15px;
    }
    .menu_items:after{
        width: 4%;
    }
    .menu__btn {
        display: flex; /* используем flex для центрирования содержимого */
        align-items: center;  /* центрируем содержимое кнопки */
        position: absolute;
        top: 40px;
        right: 10px; 
        width: 32px;
        height: 32px;
        cursor: pointer;
        z-index: 1;
    }
      /* добавляем "гамбургер" */
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #5363db;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
      
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
      
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
      
    #menu__toggle:checked ~ .menu__box {
        display: flex;
    }
    /*Form*/
    .container_form{
        width: 90%; /*чтобы контейнер был одной ширины */
        flex-direction: column;
        margin: 40px auto;
    }

    .form{
        margin-right: 0;
        max-width: 100%;
    }
    .text_form{
        margin-left: 0;
        text-align: center;
        max-width: 100%;
    }
    .text_form> h1{
        font-size: 32px;
    }
    .text_form> p{
        font-size: 28px;
    }

    /*Feature prog*/
    .container_feature{
        width: 90%;
        margin: 40px auto;
    }
    .box{
        flex-direction: column;
    }
    .text_feature>p{
        font-size: 28px;
        margin: 0;
    }
    /*Gallery*/
    .section_gallery > li{
        width: 50%;
    }
    /*Info*/
    .list_info > li{
        width: 50%;
    }
    /*Cards*/
    .list_cards > li{
        width: 100%;
    }

    /*About*/
    .container_about {
        width: 90%;
        margin: 75px auto 100px;
        flex-direction: column;
    }

    .text_about{
        max-width: 100%;
        margin-bottom: 20px;
    }

    .text_about > p{
        font-size: 14px;
    }

    .carousel_container {
        outline: none;
        width: 100%;
        height: 0;
        padding-bottom: 57%;
        position: relative;
    }

    .slick-prev,
    .slick-next {
        right: -20px;
        width: 40px;
        height: 40px;
    }

    .slick-prev {
        left: -20px;
    }

    .slick-next::before,
    .slick-prev::before {
        font-size: 25px;
    }
    
}

@media (max-width: 575px){
    /*Form*/
    .container_form{
        width: 95%;
    }
    .form{
        max-width: 100%;
        padding: 0 18px 20px 18px;
    }
    .form > button{
        padding: 15px 50px;
    }
    .text_form{
        max-width: 100%;
    }
    .input_form{
        padding: 15px 10px;
    }
    /*Feature*/
    .container_feature{
        width: 95%;
        margin: 15px auto 25px;  
    }
    .list_feature>li{
        padding: 15px 0 ;
    }
    /*Gallery*/
    .section_gallery a::after{
        font-size: 16px;
        line-height: 30px;
        width: 30px;
        height: 30px;
    }
    /*Info*/
    .container_info{
        width: 95%;
        margin: 50px auto;
    }
    .list_feature > li{
        width: 100%;
    }
    .list_info > li{
        width: 100%;
    }
    /*Cards*/
    .container_cards{ 
        width: 95%; /*Container*/ 
        margin: 35px auto;
    }
    .header_info{
        padding: 30px 0;
    }
    .usd{
        font-size: 24px;
    }
    .num{
        font-size: 50px;
    }
    .month{
        font-size: 16px;
        margin-top: 25px;
    } 
    .main_info > p{
        font-size: 16px;
    }
    .btn_info{
        font-size: 16px;
    }
    /*About*/
    .container_about {
        margin: 15px auto 40px;
    }

    .slick-prev,
    .slick-next {
        right: -10px;
        width: 30px;
        height: 30px;
    }

    .slick-prev {
        left: -10px;
    }

    .slick-next::before,
    .slick-prev::before {
        font-size: 20px;
    }
    /*Footer*/
    .container_contacts{
        width: 95%;
        margin: 10px auto 22px;
    }
    .list_footer > li{
        width: 100%;
    }
    .icomoon_list{
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .container_copyright{
        width: 95%; /*Container*/ 
        margin: 21px auto;
    }
}
